<mat-card>
<h2>{{functionality.id}} : {{functionality.name}}</h2>
<mat-tab-group>
  <mat-tab label="Details">
    <mat-list>
        <mat-list-item> <b>Project</b>&emsp;<a mat-button [routerLink]="['/project-details', functionality.sprint.project.id]">{{functionality.sprint.project.projectName}}</a></mat-list-item>
        <mat-list-item> <b>Sprint</b>&emsp;<a mat-button [routerLink]="['/sprint-details', functionality.sprint.id]">{{functionality.sprint.sprintName}}</a></mat-list-item>
        <mat-list-item> <b>State</b>&emsp;{{functionality.state}}&emsp;<button mat-raised-button color="primary" *ngIf="shouldBeAbleToPromote()" (click)="promote()" type="submit">Promote</button> </mat-list-item>
        <mat-list-item> <b>Creator</b>&emsp;{{functionality.creator.email}}</mat-list-item>
        <mat-list-item> <b>Creation Date</b>&emsp;{{functionality.creationDate}}</mat-list-item>
        <mat-list-item> <b>Assigned Architect</b>&emsp;{{functionality.responsibleArchitect.email}}&emsp;
          <mat-form-field *ngIf="isProjectManager">
              <mat-select placeholder="Architect"  name = "architect"  [(ngModel)]="architect">
                  <mat-option  *ngFor="let user of architects" [value]="user.email">
                      <span>{{ user.email }}</span>
                    </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item> <b>Assigned Developer</b>&emsp;{{functionality.responsibleDeveloper.email}}&emsp;
          <mat-form-field *ngIf="isProjectManager">
              <mat-select placeholder="Developer"  name = "developer"  [(ngModel)]="developer">
                  <mat-option *ngFor="let user of developers" [value]="user.email">
                      <span>{{ user.email }}</span>
                    </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item> <b>Assigned Tester</b>&emsp;{{functionality.responsibleTester.email}}&emsp;
          <mat-form-field *ngIf="isProjectManager">
              <mat-select placeholder="Tester"  name = "tester"  [(ngModel)]="tester">
                  <mat-option *ngFor="let user of testers" [value]="user.email">
                      <span>{{ user.email }}</span>
                    </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-list-item>
        <button mat-raised-button color="primary" (click)="assignUsers(architect, developer, tester)" type="submit">Assign users</button>
    </mat-list>
  </mat-tab>
  <mat-tab label="Specification">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Specification</mat-card-title>
            <mat-card-subtitle>Created by: {{specification.creator.email}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              {{specification.value}}
          </mat-card-content>
        </mat-card>
     <button mat-raised-button color="primary" (click)="createSpecification()" type="submit">Edit</button>
  </mat-tab>
  <mat-tab label="Use Case">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{usecase.title}}</mat-card-title>
          <mat-card-subtitle>Created by: {{usecase.creator.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list *ngFor="let testStep of testSteps">
            <mat-list-item>
            <b>{{testStep.testResult}}</b>&emsp;{{testStep.name}}&emsp;&emsp;<button mat-mini-fab color="primary" (click)="approveUc(testStep)" type="submit">✔</button><button mat-mini-fab color="warn" (click)="failUc(testStep)" type="submit">✘</button>
          </mat-list-item>    
          <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <button mat-raised-button color="primary" (click)="createUseCase()" type="submit">Create</button>
      <button mat-raised-button color="primary" (click)="createUsecaseStep()" type="submit">Add step</button>
  </mat-tab>
  <mat-tab label="Time Entries">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
</mat-card>